body {
    background: url("../images/escheresque_ste/escheresque_ste_@2X.png");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 20px;
    text-align: center;
   
}

#header {
    color: white;
    align-content: center;
    background: transparent;
    margin-top: 10px;
    text-align: center;
}

#rules {
    margin-top: -20px;
    color: rgb(182, 178, 178);
    text-align: center;
}


#number,#score,#tally-win,#tally-lose {
    color: white;
    margin: 10px;
    margin-top: -10px;
    align-content: center;
}

#tally-lose {
    margin-bottom: 40px;
}

.jewel {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}